# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build output directories
.next/
out/

# Next.js build artifacts
.next/cache/

# TypeScript cache and build output directories
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# .idea (JetBrains IDE)
.idea/

# MacOS files
.DS_Store

# Editor directories and files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Miscellaneous
*.swp
*~
